


<div class="container col-md-12" id="container-général">
	
		
			<div class='row' id= "navbar-général">
				
				<div class= "navbar col-md-11" >
					    <div class=" ">
							Pronozone
						</div>
					
						<div class="  ">
							Live Actu
						</div>
						<div class=" text-center">
							 Mes Résultats
						</div>	
						<div class=" text-center">
						Mon Equipe
						</div>
						<div class=" text-center">
						Résultats ligue 1
						</div>
				
						<div class="btn btn-warning   text-center">
								bet now
						</div>
					
						
				</div>
				
				<div class="navbar col-md-1 ">
					Avatar
				</div>
				
		
			</div>

	<div class = "row h-100">
		<div class= "sidebar col-md-1 h-100 " id= "sidebar-général">
			
				
				<ul>
				</br>
					<li>
						 Etienne
					</li>
					<li>
						Alex 
					</li>
				</ul>
		

	
			
		</div>
		<div class= " sidebar col-md-10 h-100" id= "content-container">


				<div class="row h-100">
					<div class="navbar col-md-6">
						dffdfdfdfddffddffdfddffdfdfd
					</div>
					<div class=" navbar col-md-6">
						fdfdffd
					</div>
				</div>
		</div>
		<div class= "sidebar col-md-1 h-100 " id= "sidebar-général">
		</div>
	</div>
	
</div>
	



