/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* Custom bootstrap variables must be set or imported *before* bootstrap.*/
@import "bootstrap";


@import "profil_sidebar.scss";


@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
	margin: 0px;
	padding: 0px;
	font-family: "Roboto", sans-serif;
}



.container {
	top: 56px;
	padding: 0px;
	z-index: 0;
	display: flex;
	flex-direction: column;
	background-color: rgb(89,90,98);
	height: 100vh;
	background-size: cover;
	overflow: auto;
}


.dropdown-menu { 
  left: auto; right: 0%; 
}
#navbarDropdown {
	color: white;
}
.navbar {
	width:75%;

  margin: 0 auto;
}
.sidebar {
}
.site-content {
	padding: 0;
}




